   <!-- Hotel-Booking List -->
   <div class="card hotel-list mb-0">
    <div class="card-body p-0">
        <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
            <h6 class="">Pedidos recientes</h6>
            <div class="d-flex align-items-center flex-wrap">
                <div class="dropdown me-3">
                    <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        Hotels
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Single Room</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Double Room</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Twin Room</a>
                        </li>
                    </ul>
                </div>
                <div class="input-icon-start position-relative">
                    <span class="icon-addon">
                        <i class="isax isax-search-normal-1 fs-14"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>

        <!-- Hotel List -->
        <div class="custom-datatable-filter table-responsive">
            <table class="table datatable">
                <thead class="thead-light">
                    <tr>
                        <th>Cod.</th>
                        <th>Cliente</th>
                        <th class="text-center" style="max-width: 150px !important;">Dirección</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#entregado">#PED-1025</a></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-lg">
                                    <img src="assets/img/users/user-01.jpg" class="img-fluid rounded-circle" alt="img">
                                </div>
                                <div class="ms-2">
                                    <p class="text-dark mb-0 fw-medium fs-14">Laura Martínez</p>
                                    <span class="fs-14 fw-normal text-gray-6">Medellín</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" 
                        style="max-width: 150px; white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">   Carrera 45 #32-10, El Poblado</td>
                        <td>$250.000</td>
                        <td>15 May 2025</td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10">
                                <i class="fa-solid fa-circle fs-5 me-1"></i>Entregado
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#entregado"><i class="isax isax-eye"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#pendiente">#PED-1089</a></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-lg">
                                    <img src="assets/img/users/user-02.jpg" class="img-fluid rounded-circle" alt="img">
                                </div>
                                <div class="ms-2">
                                    <p class="text-dark mb-0 fw-medium fs-14">Andrés Torres</p>
                                    <span class="fs-14 fw-normal text-gray-6">Bogotá</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" 
                        style="max-width: 150px; white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">
                        Calle 72 #15-25, Chapinero</td>
                        <td>$180.000</td>
                        <td>20 May 2025</td>
                        <td>
                            <span class="badge badge-secondary rounded-pill d-inline-flex align-items-center fs-10">
                                <i class="fa-solid fa-circle fs-5 me-1"></i>Pendiente
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#pendiente"><i class="isax isax-eye"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#enviado">#PED-1123</a></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-lg">
                                    <img src="assets/img/users/user-03.jpg" class="img-fluid rounded-circle" alt="img">
                                </div>
                                <div class="ms-2">
                                    <p class="text-dark mb-0 fw-medium fs-14">Carolina Ríos</p>
                                    <span class="fs-14 fw-normal text-gray-6">Cali</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" 
                        style="max-width: 150px; white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">     Avenida Roosevelt #39-20, San Fernando
                    </td>
                        <td>$320.000</td>
                        <td>04 Jun 2025</td>
                        <td>
                            <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10">
                                <i class="fa-solid fa-circle fs-5 me-1"></i>Enviado
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#enviado"><i class="isax isax-eye"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#cancelado">#PED-1180</a></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-lg">
                                    <img src="assets/img/users/user-04.jpg" class="img-fluid rounded-circle" alt="img">
                                </div>
                                <div class="ms-2">
                                    <p class="text-dark mb-0 fw-medium fs-14">Felipe Ramírez</p>
                                    <span class="fs-14 fw-normal text-gray-6">Cartagena</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" 
                        style="max-width: 150px; white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">   Carrera 7 #25-14, Centro Histórico
                    </td>
                        <td>$210.000</td>
                        <td>02 Jul 2025</td>
                        <td >
                            <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10">
                                <i class="fa-solid fa-circle fs-5 me-1"></i>Cancelado
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#cancelado"><i class="isax isax-eye"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#procesando">#PED-1202</a></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-lg">
                                    <img src="assets/img/users/user-05.jpg" class="img-fluid rounded-circle" alt="img">
                                </div>
                                <div class="ms-2">
                                    <p class="text-dark mb-0 fw-medium fs-14">Diana Suárez</p>
                                    <span class="fs-14 fw-normal text-gray-6">Barranquilla</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" 
                        style="max-width: 150px; white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">Calle 84 #45-67, Alto Prado</td>
                        <td>$275.000</td>
                        <td>17 Jun 2025</td>
                        <td>
                            <span class="badge badge-warning rounded-pill d-inline-flex align-items-center fs-10">
                                <i class="fa-solid fa-circle fs-5 me-1"></i>Procesando
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#procesando"><i class="isax isax-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /Hotel List -->

    </div>
</div>
<!-- /Hotel-Booking List -->
